---
import es from '../../../data/locales/home/es/index';
import en from '../../../data/locales/home/en/index';
import Separator from '../../atoms/Separator.astro';
import Title from '../../atoms/Title.astro';
import ExperienceCard from '../../molecules/ExperienceCard.astro';
import Button from '../../atoms/Button.astro';
import anchorImg from '../../../assets/img/backgrounds/anchor.png';
import { getLangFromUrl } from '../../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = lang == 'en' ? en : es;
---

<section class="web-banner overflow-hidden relative">
  <Separator />
  <img
    class="absolute bottom-[200px] right-1/2 -translate-x-[calc(-50%_-_500px)] -z-10"
    src={anchorImg.src}
    alt="bg"
  />

  <div class="web-container">
    <Title barPosition="center" class="text-center">
      {t.experienceAndKnowledge.title}
    </Title>

    <div class="grid gap-4 text-center my-10 mb-20 max-w-[885px] mx-auto">
      <p set:html={t.experienceAndKnowledge.description} />
    </div>

    <div
      class="flex items-center gap-8 flex-wrap md:flex-nowrap justify-center"
    >
      {
        t.experienceAndKnowledge.items.map((item) => {
          return (
            <ExperienceCard
              img={item.image}
              text={item.description}
              title={item.title}
            >
              <a href={`/${lang}${item.url}`}>
                <Button variant="secondary" size="lg">
                  {item.buttonText}
                </Button>
              </a>
            </ExperienceCard>
          );
        })
      }
    </div>
  </div>
</section>
<script>
  const videoSection = document.getElementById('video-yt');
  document.addEventListener('scroll', () => {
    const minScale = 0.75;
    const maxScale = 1;
    const videoOffset = videoSection?.getBoundingClientRect().top;
    if (videoOffset && videoOffset > 0) {
      const scale =
        minScale +
        (maxScale - minScale) *
          (1 - Math.abs(videoOffset) / window.innerHeight);
      videoSection.style.transform = `scale(${scale})`;
    }
  });
</script>
