---
import Layout from './Layout.astro';
import layoutImg from '../assets/img/backgrounds/map.png';
import ProductFooter from '../components/organisms/ProductFooter.astro';
import ProductHero from '../components/organisms/ProductHero.astro';
import type ExecutiveContact from '../utils/interfaces/ExcecutiveContact.interface';

interface Props {
  title?: string;
  name: string;
  description: string;
  image: string;
  color?: string;
  executivesContact?: ExecutiveContact[];
}

const {
  title = 'Ancora | Products',
  executivesContact,
  name,
  description,
  image,
  color = '#5E747F',
} = Astro.props;
---

<Layout title={title}>
  <ProductHero
    name={name}
    description={description}
    image={image}
    color={color}
  />
  <div class="web-banner overflow-hidden">
    <img
      src={layoutImg.src}
      class="absolute top-0 left-1/2 -z-10 -translate-x-[50%_-_500px]"
    />
    <div class="web-container">
      <slot />
    </div>
  </div>
  {executivesContact && <ProductFooter executivesContact={executivesContact} />}
</Layout>
